{% extends 'admin/index.html' %}

{% block body %}
    <div style="margin-left: 20px;margin-top: 20px;">

        <h1>用户留言列表</h1>
        <div style="height:50%">
            <table id="article_list" class="layui-table" lay-filter="article_list">
            </table>
        </div>
    </div>


{% endblock %}

{% block extjs %}

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">全选删除</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">

        <a class="layui-btn layui-btn-xs  loc" lay-event="replay">回复</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    </script>
    <script>


        function change_id_list(data) {
            let res_list = [];
            $.each(data, function (index, val) {
                res_list.push(val.id)
            });
            return {'id': res_list}
        }


        layui.use('table', function () {
            var table = layui.table;
            var article_type = "{{ type }}";


            // 删除文章
            function del_title(obj, index, del_data) {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('admin.sd_admin_delmessage_port') }}",
                    async: true,
                    data: {
                        'id': JSON.stringify(del_data),
                    },// 参数

                    success: (function (res) {
                        layer.msg(res['msg']);
                        if (res['code'] == 200) {
                            table.reload('article_list', {});
                        }
                    }),

                    error: (function (e) {
                        console.log(e)
                    })
                })
            }


            var total_url = "{{ url_for('admin.sd_admin_message_port') }}"

            // 渲染table
            table.render({
                elem: '#article_list'
                , height: '400'
                , width: '1468'
                , cellMinWidth: 80
                , limit: 5
                , limits: [5, 10, 20]
                , url: total_url
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['filter', 'exports', 'print']
                , title: '留言列表'
                , cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                    , {field: 'title', title: '留言主题', width: 100,}
                    , {field: 'message', title: '留言内容', width: 633, sort: true}
                    , {field: 'user_name', align: 'middle', title: '留言人', width: 133}
                    , {field: 'create_time', sort: true, align: 'middle', width: 165, title: '留言时间'}
                    , {field: 'is_replay', sort: true, align: 'middle', width: 133, title: '是否已回复'}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#barDemo', width: 165}
                ]]
                , page: true
            });


            //监听行工具事件
            //头工具栏事件
            table.on('toolbar(article_list)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        if (!checkStatus.isAll) {
                            layer.msg('未全选');
                            break
                        }
                        layer.confirm('真的删除行么', function (index) {
                            console.log(obj, '2222')
                            var data = checkStatus.data;
                            var del_data = change_id_list(data)
                            del_title(obj, index, del_data)
                        });
                }
            });

            //监听行工具事件
            table.on('tool(article_list)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        let data_list = {'id': [data.id]}
                        del_title(obj, index, data_list)
                    });
                } else if (obj.event === 'replay') {
                    var replay = data.is_replay;
                    var replay_msg = ''
                    if (replay == '已回复') {
                        $.get("sd_admin_addmessage_port", {"message_id": data.id},
                            function (res) {
                                replay_msg = res['replay']
                                update_mes(replay_msg)
                            });
                    }else{
                        update_mes(replay_msg = '')
                    }
                }

                function update_mes(replay_msg) {
                    layer.prompt({
                        formType: 2,
                        value: replay_msg,
                        title: '回复留言',
                        area: ['500px', '200px'] //自定义文本域宽高
                    }, function (value, index) {
                        console.log(value, data.id, data.is_replay, '111')
                        $.post("sd_admin_addmessage_port", {"replay": value, "message_id": data.id},
                            function (res) {
                                layer.msg(res['msg']);
                                if (res['code'] == 200) {
                                    table.reload('article_list', {});
                                }
                                layer.close(index);
                            }, "json");

                    });
                }
            });
        });
    </script>
{% endblock %}